body {
  font-family: "Verdana", "Helvetica", "Arial", sans-serif;
  background: #565285;
  padding: 30px;
}
h1 {
  text-align: center;
}
.todo-input {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
input {
  padding: 10px;
  width: 300px;
  border-radius: 20px;
  background-color: #faf8d2;
  border: #f0efb6;
  outline: none;
}
button {
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  background: #f0efb6;
  border-radius: 22px;
  font-weight: 200;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #b8b8a9;
  padding: 10px;
  margin: 8px auto;
  width: 400px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: space-between;
  word-break: break-word;
  overflow-wrap: anywhere;
}
.completed {
  text-decoration: line-through;
  color: gray;
}
.del {
  padding: 10px 15px;
  cursor: pointer;
  border: none;
  background: #f0efb6;
  border-radius: 22px;
  white-space: nowrap;
  min-width: 70px;
}
li span {
  flex: 1;
  margin-right: 10px;
}
.calendar {
  width: fit-content;
  background: #fff7cc;
  border-radius: 18px;
  padding: 16px;
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-weight: bold;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 42px);
  gap: 8px;
  text-align: center;
}
.day {
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.day:hover {
  background: #ffe58f;
}
.has-task {
  background: #ffd666;
  font-weight: bold;
}

.active-day {
  outline: 2px solid #000;
}
.taskList li {
  background: #e6e6d8;
  margin: 8px 0;
  padding: 10px;
  border-radius: 12px;
}
